<%- include('include/_header')%>
    <main>
        <div class="container">
            <div>
                <a href="/add-item">Add Item</a>
            </div>

            <form action="/" method="POST">
            
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Availability</th>
                            <th>Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show')%>
                    </tbody>
                </table>
            
            </form>
        </div>
    </main>
    <%- include('include/_footer') %>