<form action="/api/items" method="POST" id="add_item">
    <div class="add_item">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" name="name">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" name="quantity">
        </div>
        
        <div class="form-group">
            <label for="availability" class="text-dark">Availabilty</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="availability" value="Available" >
                <label for="radio-2" class="radio-label">Available</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="availability" value="Not Available" >
                <label for="radio-3" class="radio-label">Not Available</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="update">Save</button>
        </div>
    </div>
</form>